In [1]:
import pandas as pd
import numpy as np

In [2]:
Booking_data = pd.read_csv("fact_bookings.csv")
print(Booking_data.head(10))

          booking_id  property_id booking_date check_in_date checkout_date  \
0   May012216558RT11        16558   2022-04-27    2022-05-01    2022-05-02
1   May012216558RT12        16558   2022-04-30    2022-05-01    2022-05-02
2   May012216558RT13        16558   2022-04-28    2022-05-01    2022-05-04
3   May012216558RT14        16558   2022-04-28    2022-05-01    2022-05-02
4   May012216558RT15        16558   2022-04-27    2022-05-01    2022-05-02
5   May012216558RT16        16558   2022-05-01    2022-05-01    2022-05-03
6   May012216558RT17        16558   2022-04-28    2022-05-01    2022-05-06
7   May012216558RT18        16558   2022-04-26    2022-05-01    2022-05-03
8   May012216558RT19        16558   2022-04-30    2022-05-01    2022-05-02
9  May012216558RT110        16558   2022-04-28    2022-05-01    2022-05-02

   no_guests room_category booking_platform  ratings_given booking_status  \
0          3           RT1    direct online            1.0    Checked Out
1          2           RT1           others            NaN      Cancelled
2          2           RT1          logtrip            5.0    Checked Out
3          2           RT1           others            NaN      Cancelled
4          4           RT1    direct online            5.0    Checked Out
5          2           RT1           others            4.0    Checked Out
6          2           RT1           others            NaN      Cancelled
7          2           RT1          logtrip            NaN        No Show
8          2           RT1         tripster            NaN    Checked Out
9          1           RT1           others            4.0    Checked Out

   revenue_generated  revenue_realized
0              10010             10010
1               9100              3640
2               9100              9100
3               9100              3640
4              10920             10920
5               9100              9100
6               9100              3640
7               9100              9100
8               9100              9100
9               9100              9100

In [3]:
Room_data = pd.read_csv(r"C:\Users\kavan\OneDrive\Desktop\Excelr Project\Hospitality Analytics\org\dim_rooms.csv", encoding='unicode_escape')
print(Room_data)

  room_id    room_class
0     RT1      Standard
1     RT2         Elite
2     RT3       Premium
3     RT4  Presidential

In [4]:
# information of the dataset
Booking_data.info() 
Room_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id     4 non-null      object
 1   room_class  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [5]:
# total rows and columns
bd= Booking_data.shape
rd= Room_data.shape
print(bd)
print(rd)

(134590, 12)
(4, 2)

In [6]:
#the top 5 rows of the dataset
Booking_data.head()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

In [7]:
# check the datatypes
bd= Booking_data.dtypes
rd= Room_data.dtypes
print(bd)
print(rd)

booking_id            object
property_id            int64
booking_date          object
check_in_date         object
checkout_date         object
no_guests              int64
room_category         object
booking_platform      object
ratings_given        float64
booking_status        object
revenue_generated      int64
revenue_realized       int64
dtype: object
room_id       object
room_class    object
dtype: object

In [8]:
#gives the descriptive statistics foe numerical columns
Booking_data.describe()

,property_id,no_guests,ratings_given,revenue_generated,revenue_realized
count,134590.000000,134590.000000,56683.000000,134590.000000,134590.000000
mean,18061.113493,2.036808,3.619004,14916.013188,12696.123256
std,1093.055847,1.031766,1.235009,6452.868072,6928.108124
min,16558.000000,1.000000,1.000000,6500.000000,2600.000000
25%,17558.000000,1.000000,3.000000,9900.000000,7600.000000
50%,17564.000000,2.000000,4.000000,13500.000000,11700.000000
75%,18563.000000,2.000000,5.000000,18000.000000,15300.000000
max,19563.000000,6.000000,5.000000,45220.000000,45220.000000

In [9]:
# getting the count of total nullvalues in each column
Booking_data.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        77907
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [10]:
# replacing the null values with 0
Booking_data['ratings_given'].fillna(0,inplace=True)

In [11]:
#checking if the values has been replaced
Booking_data.isnull().sum()

booking_id           0
property_id          0
booking_date         0
check_in_date        0
checkout_date        0
no_guests            0
room_category        0
booking_platform     0
ratings_given        0
booking_status       0
revenue_generated    0
revenue_realized     0
dtype: int64

In [12]:
#changing the datatype to datetime
Booking_data['booking_date']=pd.to_datetime(Booking_data['booking_date'])
Booking_data['check_in_date']=pd.to_datetime(Booking_data['check_in_date'])
Booking_data['checkout_date']=pd.to_datetime(Booking_data['checkout_date'])

In [13]:
#Checking if its changed to datetime datatype
print(Booking_data['booking_date'].dtype)
print(Booking_data['check_in_date'].dtype)
print(Booking_data['checkout_date'].dtype)

datetime64[ns]
datetime64[ns]
datetime64[ns]

In [14]:
#after cleaning and checking nulls, the final info of the cleaned dataset with proper datatypes of all colums and without null values
Booking_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  datetime64[ns]
 3   check_in_date      134590 non-null  datetime64[ns]
 4   checkout_date      134590 non-null  datetime64[ns]
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      134590 non-null  float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: datetime64[ns](3), float64(1), int64(4), object(4)
memory usage: 12.3+ MB

## Total Booking

In [15]:
Total_Booking_Count= Booking_data['booking_id'].count()
print(Total_Booking_Count)

134590

## Total Revenue

In [16]:
Total_revenue_realized= Booking_data['revenue_realized'].sum()
print(Total_revenue_realized)

1708771229

## Bookings by Status

In [17]:
Booking_data['booking_status'].value_counts()

Checked Out    94411
Cancelled      33420
No Show         6759
Name: booking_status, dtype: int64

## Booking by Status in %

In [18]:
(Booking_data['booking_status'].value_counts(normalize=True)*100).round()

Checked Out    70.0
Cancelled      25.0
No Show         5.0
Name: booking_status, dtype: float64

## Mergeing two files

In [19]:
Hospitality_data=pd.merge(Booking_data,Room_data,left_on='room_category',right_on='room_id')
print(Hospitality_data.head())

         booking_id  property_id booking_date check_in_date checkout_date  \
0  May012216558RT11        16558   2022-04-27    2022-05-01    2022-05-02
1  May012216558RT12        16558   2022-04-30    2022-05-01    2022-05-02
2  May012216558RT13        16558   2022-04-28    2022-05-01    2022-05-04
3  May012216558RT14        16558   2022-04-28    2022-05-01    2022-05-02
4  May012216558RT15        16558   2022-04-27    2022-05-01    2022-05-02

   no_guests room_category booking_platform  ratings_given booking_status  \
0          3           RT1    direct online            1.0    Checked Out
1          2           RT1           others            0.0      Cancelled
2          2           RT1          logtrip            5.0    Checked Out
3          2           RT1           others            0.0      Cancelled
4          4           RT1    direct online            5.0    Checked Out

   revenue_generated  revenue_realized room_id room_class
0              10010             10010     RT1   Standard
1               9100              3640     RT1   Standard
2               9100              9100     RT1   Standard
3               9100              3640     RT1   Standard
4              10920             10920     RT1   Standard

## Dropping unwanted columns

In [20]:
Hospitality_data.drop(['booking_date','property_id','room_category'],axis=1,inplace=True)
Hospitality_data.columns

Index(['booking_id', 'check_in_date', 'checkout_date', 'no_guests',
       'booking_platform', 'ratings_given', 'booking_status',
       'revenue_generated', 'revenue_realized', 'room_id', 'room_class'],
      dtype='object')

## revenue of room class

In [21]:
Room_class_revenue = Hospitality_data.groupby('room_class')['revenue_realized'].sum().reset_index()
Room_class_revenue.columns = ['Room Class','Total Revenue']
print(Room_class_revenue)

     Room Class  Total Revenue
0         Elite      560271204
1       Premium      462166344
2  Presidential      376752786
3      Standard      309580895

## booking count of room class

In [22]:
Room_class_bookings = Hospitality_data.groupby('room_class')['revenue_realized'].count().reset_index()
Room_class_bookings.columns=['Room Class','Total Bookings']
#sort them in descending
Room_class_bookings = Room_class_bookings.sort_values('Total Bookings',ascending=False)
print(Room_class_bookings)

     Room Class  Total Bookings
0         Elite           49505
3      Standard           38446
1       Premium           30566
2  Presidential           16073

## Revenue by platform

In [23]:
Revenue_by_platform = Hospitality_data.groupby('booking_platform')['revenue_realized'].sum().reset_index()
Revenue_by_platform.columns=['Platform','Total revenue']
#sort them in descending
Revenue_by_platform = Revenue_by_platform.sort_values('Total revenue',ascending=False).reset_index()
print(Revenue_by_platform)

   index        Platform  Total revenue
0      5          others      699353302
1      4    makeyourtrip      340834504
2      3         logtrip      187554488
3      1   direct online      169026467
4      6        tripster      123066801
5      2         journey      102531334
6      0  direct offline       86404333